<h2>this is the main deal</h2>
<input type="button" value="ping" onclick="ping()">

<script>

var ping = function(){

    postIt({

        data : JSON.stringify({mess:'I want cake!'}),
        done: function(xhr){

            console.log(xhr.response);

        }

    });

};

</script>