<!doctype html>
<html lang="en">
<head>
    <title>node.js core demos</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>node.js demos</h1>

    <!-- client system -->
    <%- cs("yeah") %>
    <%- say("Hello World") %>
</body>

</html>